<div class="page-header page-header-light border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Template</span> Management</h4>
      <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none">
      <button nz-button nzType="primary">
        <i nz-icon nzType="plus-circle"></i>Create
      </button>
      <button nz-button class="bg-success ml-2">
        <i nz-icon nzType="file-excel"></i>Import Excel
      </button>
    </div>
  </div>
</div>

<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#product-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="product-list">
        <form novalidate>
          <button type="submit" hidden></button>
          <div class="box-input d-md-flex flex-wrap">
            <div class="form-group mr-md-2">
              <input-text placeholder="Input Text"></input-text>
            </div>
            <div class="form-group mr-md-2">
              <input-text-search></input-text-search>
            </div>
            <div class="form-group mr-md-2">
              <input-number></input-number>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr class="mt-0 margin-bottom-10">
  <div class="table-responsive">
    <nz-table #basicTable [nzShowPagination]="false" [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>
            <a>Action 一 {{ data.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <nz-pagination class="float-right mt-2" [nzPageSize]="12" [nzPageIndex]="paging.page" [nzTotal]="paging.totalPage">
  </nz-pagination>

</div>

<nz-modal class="template" [(nzVisible)]="showDialog" [nzMaskClosable]="false" (nzOnCancel)="closeDialog()">
  <app-home-dialog [params]="paramsDialog" (nzOnCancel)="closeDialog()" (nzOnOk)="submitDialog($event)">
  </app-home-dialog>
</nz-modal>
